@media screen and (min-width: 300px) {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .main-student {
    background: url("https://images.unsplash.com/photo-1514503612056-e3f673b3f3bd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1726&q=80");
    display: grid;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Tahoma", sans-serif;
    color: rgb(237, 236, 236);
    background-blend-mode: normal;
    place-items: center;
  }

  .btn-wrapper {
    display: flex;
    flex-direction: column;
  }
  .neon-btn-student {
    margin: 8% 0%;
    font-size: 8mm;
    display: inline-block;
    cursor: pointer;
    color: rgb(237, 236, 236);
    padding: 0.25em 1em;
    border-radius: 0.45em;
    background-color: rgba(105, 142, 242, 0.306);
    text-shadow: 0 0 0.125em rgba(255, 255, 255, 0), 0 0 0.7em currentColor;
    box-shadow: inset 0 0 0.5em 0 rgb(237, 236, 236),
      0 0 0.5em 0 rgb(237, 236, 236);
  }

  .neon-btn-student:hover,
  .neon-btn-student:focus {
    background-color: rgba(250, 251, 252, 0.16);
  }
}
